name: Build and Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew shadowJar

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./build/libs/Portel-*.jar
          tag_name: ${{ github.run_number }}
          name: Release ${{ github.run_number }}
          body: |
            Automated release based on commit ${{ github.sha }}.
          draft: false
          prerelease: false
